# -----------------------
# Terraform (all levels)
# -----------------------

**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/*.tfplan
**/*.plan

# -----------------------
# SSH keys (all folders)
# -----------------------

**/*.pem
**/*.key
